<div class="navbar-inner">
	<div class="container">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="https://www.nuget.org/packages?q=Owner%3A%22alexmg%22+Autofac*">NuGet Gallery</a></li>
						<li><a href="https://www.myget.org/gallery/autofac">MyGet Gallery (CI Releases)</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Help <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="nav-header">Learn</li>
						<li><a href="http://autofac.readthedocs.io/en/latest/getting-started/index.html">Quick Start</a></li>
						<li><a href="http://autofac.readthedocs.io">Documentation</a></li>
						<li><a href="https://github.com/autofac/Autofac/wiki">Wiki</a></li>
						<li class="divider"></li>
						<li class="nav-header">Ask Questions</li>
						<li><a href="http://stackoverflow.com/questions/tagged/autofac">StackOverflow</a></li>
						<li><a href="https://twitter.com/AutofacIoC">Twitter</a></li>
						<li><a href="https://groups.google.com/forum/#forum/autofac">Discussion Forum</a></li>
						<li><a href="https://gitter.im/autofac/Autofac">Gitter</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">The Project <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="nav-header">Found an Issue?</li>
						<li><a href="https://github.com/autofac/Autofac/issues">Bugs/Enhancement Requests</a></li>
						<li class="divider"></li>
						<li class="nav-header">Source</li>
						<li><a href="https://github.com/autofac/Autofac">GitHub Repository</a></li>
						<li><a href="http://autofac.readthedocs.io/en/latest/contributors.html">Contribute</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>